{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vcar{% endblock title %}</title>
    {% bootstrap_css %}
    <style>
        main > .container {
            padding: 60px 15px 0;
        }
    </style>
</head>
<body class="d-flex flex-column h-100">
    
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="{% static 'img/carro.png' %}" width="30"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'realizar_aluguel' %}">Aluguel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'listar_carros' %}">Carros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'realizar_cadastro' %}">Clientes</a>
              </li>
            </ul>
            <div class="col-md-3 text-end">
              {% if user.is_authenticated %}
              <span class="text-white">{{ user.username }}</span>
              <a href="{% url 'logout' %}" class="btn btn-primary">Sair</a>
              {% else %}
              <a href="{% url 'register' %}" class="btn btn-primary">Registrar</a>
              <a href="{% url 'login' %}" class="btn btn-primary">Login</a>

              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    <!-- Begin page content -->
    <main class="flex-shrink-0">
        {% bootstrap_messages %}
      <div class="container my-4">
        {% block content %}

        <h1>Concessionária Vcar</h1>

        {% endblock content %}
      </div>
    </main>
    
    <footer class="footer mt-auto py-3 bg-light ">
      <div class="container">
        <span class="text-muted">VCAR - Leônidas</span>
      </div>
    </footer>
    
        {% bootstrap_javascript %}
      </body>

</html>