
    {% extends 'index.html' %}
{% block title %}Concessionária Vcar - Carro: {{ carro.modelo }} {% endblock title %}
{% block content %}
<h1>Vcar</h1>
<h2>Carro:</h2>
<div class="d-flex justify-content-end">
</div>
<div class="card mt-4">
    <div class="card-header">
        {{ carro.modelo }}
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Placa: {{ carro.placa }}</li>
            <li class="list-group-item">Modelo: {{ carro.modelo }}</li>
            <li class="list-group-item">Data de Compra: {{ carro.data_compra }}</li>
          </ul>
    </div>
</div>
{% endblock content %}
